body {
    margin: 0;
    height: 100vh;
    background-color: #161616;
}

.main-container {
    height: 100vh;
    width: 97%;
    display: grid;
    grid-template-columns: minmax(350px, .5fr) 2fr;
    grid-gap: 15px;
    justify-self: center;
}

.show-third {
    grid-template-columns: minmax(350px, .8fr) 2fr 1fr;
}

.sidebar.sidebar--left {
    align-self: center;
    background-color: #1C1C1C;
    min-height: 96vh;
    border-radius: 20px;
}

.sidebar-title {
    width: 90%;
    justify-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #BABABA;
}

.sidebar.project-container {
    justify-self: center;
    width: 90%;
    margin-top: 50px;
    height: 500px;
    border-bottom: 1px solid #79827265;
}

.project-item-container {
    height: 400px;
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: #888 #79827265;
}

.sidebar.project-title {
    width: 90%;
    justify-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #bababade;
    font-weight: lighter;
    margin-bottom: 15px;
}

.project-input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.sidebar.project-input {
    padding: 0;
    width: 78%;
    height: 40px;
    font-size: 16px;
    border: 1px solid #79827265;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1C1C1C;
    color: #d7d7d7;
}

.sidebar.project-input:focus {
    outline: none;
    box-shadow: none;
}

.project-item {
    display: flex;
    height: 40px;
    width: 88%;
    justify-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d4d4d4e4;
    font-size: 18px;
    align-items: center;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 5px;
    justify-content: space-between;
}

.project-item:hover {
    background-color: #cecece13;
    cursor: pointer;
    color: #e0e0e0;
}

.project-delete-btn {
    width: 30px;
    height: 25px;
    align-self: center;
    font-size: 1.3rem;
    text-align: center;
    padding: 0;
    background-color: #242223;
    border: 1px solid #798272;
    color: #798272e6;
    border-radius: 5px;
    margin-right: 10px;
    justify-content: center;
}

.project-delete-btn:hover {
    cursor: pointer;
    background-color: #DA3633;
    color: white;
}

.main.todo-list-container {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
}

.main.todo-title-container {
    display: flex;
    width: 90%;
    justify-self: center;
}

.main.todo-title {
    justify-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #BABABA;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 35px;
    margin-right: 10px;
    
}

.input-container {
    align-items: center;
    display: flex;
    height: 60px;
    width: 90%;
}

.todo-input {
    padding: 0;
    width: 97%;
    height: 40px;
    font-size: 16px;
    border: 1px solid #79827265;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #161616;
    color: #d7d7d7;
}

.todo-input:focus {
    outline: none;
    box-shadow: none; 
}

.Add-symbol {
    width: 50px;
    text-align: center;
    font-size: 30px;
    height: 40px;
    border: 1px solid #79827265;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #798272;
}

.Add-symbol:hover {
    cursor: pointer;
    color: #cecece;
} 

.todo-item-container {
    width: 100%;
    max-height: 35vh;
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: #888 #79827265;
}

.todo-item {
    grid-column: 2 / 3;
    display: flex;
    height: 50px;
    width: 85%;
    justify-self: self-start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d4d4d4e4;
    font-size: 18px;
    align-items: center;
    align-self: center;
    border-radius: 5px;
    

}

.completed-todo-item-container {
    width: 100%;
    max-height: 30vh;
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: #888 #79827265;
}

.completed-border {
    justify-self: center;
    width: 90%;
    border-top: 1px solid #79827265;
}

.completed-todo-heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d4d4d43e;
    font-size: 14px;
    text-align: center;
}

.selected {
    background-color: #cecece13;
    color: #e0e0e0;
    border-radius: 10px;
}

.todo-and-btn-container {
    display: grid;
    grid-template-columns: 50px 85% 10px;
    justify-self: center;
    width: 90%;
    height: max-content;
    border-bottom: 1px solid #79827232;
    margin-bottom: 5px;
}

.todo-and-btn-container:hover {
    background-color: #cecece13;
    cursor: pointer;
    color: #e0e0e0;
    border-radius: 10px;
}

.todo-complete-btn {
    display: flex;
    align-self: center;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    border: 1px solid #79827265;
    background-color: #161616;
    justify-self: center;
    font-size: 20px;
    color: #1F8A5B;
    justify-content: center;
}

.todo-complete-btn:hover {
    cursor: pointer;
    border: 1px solid #a9ada6a3;
}

.chevron-right {
    align-self: center;
    border-style: solid;
    border-width: 0.1em 0.1em 0 0; 
    content: '';
    height: 0.6em; 
    width: 0.6em;  
    transform: rotate(45deg); 
    color: #d4d4d4ad;
    margin-right: 10px;
}

.todo-settings-container{
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 35px;
    width: 400px;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d4d4d4e4;
    font-size: 16px;
    align-items: center;
}

.todo-settings-container > div {
    width: 133px;
    border-right: 1px solid #79827265;
}

.todo-settings-container > :nth-child(2) {
    padding-left: 20px;
}

.todo-settings-container > :nth-child(3) {
    padding-left: 20px;
}

.todo-settings-container > :last-child {
    border: none;
}


.task-section-container {
    display: none;
    background-color: #1C1C1C;
    align-self: center;
    min-height: 96vh;
    border-radius: 20px;
    flex-direction: column;
}

.show-task {
    display: flex;
}

.task-header {
    width: 90%;
    justify-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #BABABA;
}

.task-title-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.task-title {
    padding-left: 15px;
    width: 90%;
    height: 40px;
    font-size: 16px;
    border: 1px solid #79827265;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1C1C1C;
    color: #d7d7d7;
}

.task-title:focus {
    outline: none;
    box-shadow: none; 
}

.task-description-container {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.task-description {
    padding-left: 15px;
    padding-top: 10px;
    width: 90%;
    height: 200px;
    font-size: 16px;
    border: 1px solid #79827265;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1C1C1C;
    color: #d7d7d7;
    resize: none;
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: #888 #79827265;
    line-height: 25px;
}

.task-description:focus {
    outline: none;
    box-shadow: none; 
}

.task-settings {
    margin-top: 20px;
    width: 100%;
    display: none;
    margin-bottom: 10px;
}

.task-settings .task {
    display: flex;
    margin-top: 15px;
    width: 93%;
    justify-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d7d7d7;
    background-color: #1C1C1C;
}

.task-settings .task .label-container {
    min-width: 130px;
    font-size: 16px;

}

#task-priority {
    width: 135px;
    height: 30px;
    background-color: #1C1C1C;
    color: #d7d7d7a8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border: 1px solid #79827265;
}

#task-priority:focus {
    outline: none;
    box-shadow: none; 
}


#task-duedate {
    width: 135px;
    height: 30px;
    background-color: #1C1C1C;
    color: #d7d7d7a8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border: 1px solid #79827265;
}

#task-duedate:focus {
    outline: none;
    box-shadow: none; 
}

#task-status {
    width: 135px;
    height: 30px;
    background-color: #1C1C1C;
    color: #d7d7d7a8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border: 1px solid #79827265;
}   

#task-status:focus {
    outline: none;
    box-shadow: none; 
}

.btn-container {
    height: 50px;
    width: 100%;
    display: none;
    margin-top: auto;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.delete-btn {
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 900;
    background-color: #1C1C1C;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid #79827265;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 10px;
}

.save-changes-btn {
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 900;
    background-color: #804f00;
    color: #d7d7d7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid #804f00;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 20px;
}

.delete-btn:hover {
    cursor: pointer;
    border: 1px solid #79827265;
    background-color: #DA3633;
    color: white;
}

.delete-btn:active {
    background-color: #ff5653;
}

.save-changes-btn:hover {
    cursor: pointer;
    border: 1px solid #c47a03;
}

.save-changes-btn:active {
    cursor: pointer;
    background-color:  #d68503;
}

.overlay-off {
    display: none;
}

.overlay {
    display: grid;
    inset: 0;
    background-color: rgba(12, 12, 12, 0.602);
    position: fixed;
    place-items: center;
}

.confirmation-popup {
    display: none;
}

.text-content {
    text-align: center;
    color: #dcdcdc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
    margin: 0;
    align-self: flex-end;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    white-space: pre-line;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.button-container > .btn {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
    color: #dcdcdc;
    font-weight: bold;
    background-color: #1C1C1C;
    border: 1px solid #79827265;
}

.button-container > .btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px #585858;
}

.confirmation {
    display: grid;
    width: 500px;
    height: 200px;
    background-color: #242424;
    border-radius: 15px;
    align-items: center;
}

.hamburger-menu {
    display: none;
}

.task-arrow {
    display: none;
}

@media (max-width:1400px) {
    body {
        font-size: 1.5rem;
    }

    .main-container {
        display: grid;
        grid-template-columns: 100%;
    }

    .sidebar.sidebar--left {
        display: none;
        flex-direction: column;
        position: fixed;
        width: 90%;
        min-height: 60%;
        top: 80px;
        justify-self: center;
    }

    .show-sidebar {
        display: block;
    }

    .sidebar-title {
        display: none;
    }

    .sidebar.project-title {
        width: 100%;
    }

    .sidebar.project-input {
        width: 100%;
    }

    .project-item-container {
        width: 100%;
        justify-self: center;
    }

    .project-item {
        width: 100%;
        padding: 0;
        text-indent: 20px;
    }

    .main.todo-title-container {
        height: 90px;
        width: 90%;
        justify-self: center;
    }

    .main.todo-title {
        align-content: center;
        margin: 0px;
        margin-left: 10px;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-self: center;
    }

    .hamburger-menu:hover {
        cursor: pointer;
    }

    .hamburger-menu > div {
        width: 35px;
        height: 5px;
        background-color:#798272;
        border-radius: 5px;
    }

    .chevron-right {
        display: none;
    }

    .todo-settings-container {
        width: 100%;
    }

    .todo-item {
        font-size: 1.0rem;
    }

    .todo-settings-container > .setting {
        width: 100%;
        font-size: .8rem;
    }

    .todo-settings-container > :nth-child(2) {
        padding-left: 5px;
        text-indent: 10px;
    }

    .todo-settings-container > :nth-child(3) {
        padding-left: 5px;
        text-indent: 10px;
    }

    .confirmation-popup {
        width: 95%;
    }

    .task-section-container {
        position: fixed;
        min-height: 70%;
        width: 97%;
        bottom: 0;
    }

    .task-header {
        margin: 0;
        margin-bottom: 5px;
    }

    .task-arrow {
        display: flex;
        line-height: 1;
        justify-self: center;
        width: 200px;
        height: 30px;
        text-align: center;
        color: black;
        padding: 0;
        margin: 0;
        font-size: clamp(1.2rem, 3vw, 2.5rem);
        justify-content: center;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .task-arrow:hover {
        cursor: pointer;
    }

    .task-arrow > :nth-child(1) {
        color: #798272;
        transform: rotate(-50deg);
        width: 20px;
        font-size: 35px;
        font-weight: bolder;
    }

    .task-arrow > :nth-child(2) {
        color: #798272;
        transform: rotate(50deg);
        width: 20px;
        font-size: 35px;
        font-weight: bolder;
    }
}

@media (max-width: 390px) {

    .chevron-right {
        display: none;
    }

    .todo-settings-container > .setting {
        width: 100%;
        font-size: .7rem;
    }
}