body {
    margin: 0;
    height: 100vh;
    background-color: #161616;
}

.main-container {
    height: 100%;
    width: 97%;
    display: grid;
    grid-template-columns: minmax(300px, .8fr) 2fr 1fr;
    grid-gap: 15px;
    justify-self: center;
}

.sidebar.sidebar--left {
    align-self: center;
    background-color: #1C1C1C;
    min-height: 96vh;
    border-radius: 20px;
}

.sidebar-title {
    width: 90%;
    justify-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #BABABA;
}

.sidebar.project-container {
    justify-self: center;
    width: 90%;
    margin-top: 50px;
    height: 500px;
    border-bottom: 1px solid #79827265;
}

.project-item-container {
    height: 400px;
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: #888 #79827265;
}

.sidebar.project-title {
    width: 90%;
    justify-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #bababade;
    font-weight: lighter;
    margin-bottom: 15px;
}

.project-input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.sidebar.project-input {
    padding: 0;
    width: 78%;
    height: 40px;
    font-size: 16px;
    border: 1px solid #79827265;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1C1C1C;
    color: #d7d7d7;
}

.sidebar.project-input:focus {
    outline: none;
    box-shadow: none;
}

.project-item {
    display: flex;
    height: 40px;
    width: 85%;
    justify-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d4d4d4e4;
    font-size: 18px;
    align-items: center;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 5px;
}

.project-item:hover {
    background-color: #cecece13;
    cursor: pointer;
    color: #e0e0e0;
}

.main.todo-list-container {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
}

.main.todo-title {
    justify-self: center;
    width: 90%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #BABABA;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 35px;

}

.input-container {
    align-items: center;
    display: flex;
    height: 60px;
    width: 90%;
}

.todo-input {
    padding: 0;
    width: 97%;
    height: 40px;
    font-size: 16px;
    border: 1px solid #79827265;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #161616;
    color: #d7d7d7;
}

.todo-input:focus {
    outline: none;
    box-shadow: none; 
}

.Add-symbol {
    width: 40px;
    text-align: center;
    font-size: 30px;
    height: 40px;
    border: 1px solid #79827265;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #798272;
}

.Add-symbol:hover {
    cursor: pointer;
    color: #cecece;
} 

.todo-item-container {
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: #888 #79827265;
}

.todo-item {
    display: flex;
    height: 40px;
    width: 85%;
    justify-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d4d4d4e4;
    font-size: 18px;
    align-items: center;
    align-self: center;
    border-radius: 5px;
    padding-left: 20px;

}

.selected {
    background-color: #cecece13;
    color: #e0e0e0;
    border-radius: 10px;
}

.todo-and-btn-container {
    display: flex;
    justify-self: center;
    width: 90%;
    height: 50px;
    justify-content: center;
    border-bottom: 1px solid #79827232;
    margin-bottom: 5px;
}

.todo-and-btn-container:hover {
    background-color: #cecece13;
    cursor: pointer;
    color: #e0e0e0;
    border-radius: 10px;
}

.todo-complete-btn {
    align-self: center;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    border: 1px solid #79827265;
    background-color: #161616;
}

.todo-complete-btn:hover {
    cursor: pointer;
    border: 1px solid #a9ada6a3;
} 

.chevron-right {
    align-self: center;
    border-style: solid;
    border-width: 0.1em 0.1em 0 0; 
    content: '';
    height: 0.6em; 
    width: 0.6em;  
    transform: rotate(45deg); 
    color: #d4d4d4ad;
    margin-right: 10px;
}

.task-section-container {
    display: flex;
    background-color: #1C1C1C;
    align-self: center;
    min-height: 96vh;
    border-radius: 20px;
    flex-direction: column;
}

.task-header {
    width: 90%;
    justify-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #BABABA;
}

.task-title-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.task-title {
    padding-left: 15px;
    width: 90%;
    height: 40px;
    font-size: 16px;
    border: 1px solid #79827265;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1C1C1C;
    color: #d7d7d7;
}

.task-title:focus {
    outline: none;
    box-shadow: none; 
}

.task-description-container {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.task-description {
    padding-left: 15px;
    padding-top: 10px;
    width: 90%;
    height: 200px;
    font-size: 16px;
    border: 1px solid #79827265;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1C1C1C;
    color: #d7d7d7;
    resize: none;
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: #888 #79827265;
    line-height: 25px;
}

.task-description:focus {
    outline: none;
    box-shadow: none; 
}

.task-settings {
    margin-top: 20px;
    width: 100%;
    display: none;
    
}

.task-settings .task {
    display: flex;
    margin-top: 15px;
    width: 93%;
    justify-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d7d7d7;
    background-color: #1C1C1C;
}

.task-settings .task .label-container {
    min-width: 130px;
    font-size: 16px;

}

#task-priority {
    width: 135px;
    height: 30px;
    background-color: #1C1C1C;
    color: #d7d7d7a8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border: 1px solid #79827265;
}

#task-priority:focus {
    outline: none;
    box-shadow: none; 
}


#task-duedate {
    width: 135px;
    height: 30px;
    background-color: #1C1C1C;
    color: #d7d7d7a8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border: 1px solid #79827265;
}

#task-duedate:focus {
    outline: none;
    box-shadow: none; 
}

#task-status {
    width: 135px;
    height: 30px;
    background-color: #1C1C1C;
    color: #d7d7d7a8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border: 1px solid #79827265;
}   

#task-status:focus {
    outline: none;
    box-shadow: none; 
}

.btn-container {
    height: 50px;
    width: 100%;
    display: none;
    margin-top: auto;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.delete-btn {
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 900;
    background-color: #1C1C1C;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid #79827265;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 10px;
}

.save-changes-btn {
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 900;
    background-color: #804f00;
    color: #d7d7d7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid #804f00;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 20px;
}

.delete-btn:hover {
    cursor: pointer;
    border: 1px solid #79827265;
    background-color: #DA3633;
    color: white;
}

.delete-btn:active {
    background-color: #ff5653;
}

.save-changes-btn:hover {
    cursor: pointer;
    border: 1px solid #c47a03;
}

.save-changes-btn:active {
    cursor: pointer;
    background-color:  #d68503;
}